[project]
	description = SPDK mirror of DPDK
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SPDK Maintainers
	editAssignee = group SPDK Maintainers
	label-Verified = -1..+1 group SPDK Bots
	exclusiveGroupPermissions = editAssignee
[access "refs/for/refs/*"]
	read = group SPDK Maintainers
	push = group SPDK Maintainers
	label-Verified = -1..+1 group SPDK Maintainers
	rebase = group SPDK Maintainers
	removeReviewer = group SPDK Maintainers
	submit = group SPDK Maintainers
	exclusiveGroupPermissions = editAssignee
	editAssignee = group SPDK Maintainers
[access "refs/heads/*"]
	read = group SPDK Maintainers
	create = group SPDK Maintainers
	push = group SPDK Maintainers
[access "refs/tags/*"]
	push = group SPDK Maintainers
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = rebase always
[access "refs/for/*"]
	addPatchSet = group SPDK Developers
	addPatchSet = group SPDK Maintainers
	exclusiveGroupPermissions = addPatchSet
[access "refs/meta/dashboards/*"]
	push = group SPDK Maintainers
